<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p>{{ site.description }}</p>
  </div>

  <nav class="sidebar-nav">
    
    {% comment %}
      The code below dynamically generates a sidebar nav of pages with
      `layout: page` in the front-matter. See readme for usage.
    {% endcomment %}
    <a class="sidebar-nav-item" href="/myHome/">About Me 🙋‍♂️</a>
    <a class="sidebar-nav-item" href="/myHome/Research">Research 📜</a>
    <a class="sidebar-nav-item" href="/myHome/CommAct">Community Activities 🎒</a>
    <a class="sidebar-nav-item" href="/myHome/Patent&Award">Patent & Award 🎉</a>
    <a class="sidebar-nav-item" href="https://github.com/liyinqiao2012/myCV/raw/master/CV-YinqiaoLi.pdf">Download My CV 📑</a>
  </nav>

  <div class="sidebar-item">
    <p>
      &copy; {{ site.time | date: '%Y' }}. All rights reserved.
    </p>
  </div>
</div>
